.page__main {
  inline-size: 75%;
}

.button-row {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.btn2 {
  flex: 1;
  padding: 1em;
  border: 1px solid lightblue;
  text-align: center;
}
.btn2:hover {
  background-color: lightblue;
  font-weight: bold;
}